.primary-nav{
    &--pull-right{
        @mixin atMedium{
            float:right;
        }
    }

    ul{
        margin:0;
        padding:0;
        @mixin clearfix;
    }

    li{
        list-style:none;
        display:inline-block;
        padding-right:7px;
        padding-top:10px;
        @mixin atMedium{
           padding-right:20px;
            float:left;
           display:block;
        }
        li:last-child{
            padding-right:0px;
            @mixin atMedium{
                padding-right:20px;
            }
        }
    }

    a{
        color:#fff;
        text-decoration:none;
        font-weight:300;
        background-color:rgba($mainBlue, .9);
        padding:5px 8px;
        font-size:.8rem;
        display:block;

        @mixin atMedium{
            padding:4px 0;
            font-size:1rem;
            background-color:transparent;
        }
    }
}